# Copy this file to application.conf
# This is environment specific config, it overrides base.conf

include "base"

# override example =
# explorer.lichess.standard.maxPlies = 60

# disable bloom filter persistence
# explorer.bloomFilter.persistent = false
